# Ambiente virtual
bin/
include/
lib/
lib64/*
pyvenv.cfg
venv/
.vercel/


# Cache do Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Arquivos de configuração
instance/
.config
.env

# IDEs
.vscode/
.idea/
.vercel
